.ant-carousel .slick-slide {
    text-align: center;
    height: 280px;
    line-height: 280px;
    background: #b3c1db;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

.idxbook {
  height:600px;
  /* width:1400px; */
  margin: 0 auto;
  background: #eee;
  background-image: url("./assets/shujia3.jpg");
  position: relative;

  background-position: center -10px;
	background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  /* background-attachment: fixed; */
}

.idxrow {
  height:200px;
}

.rowhead {
  font-size: 40px;
  color: #fff;
  margin-top:80px;
  margin-left:30px;
  width:200px;
  text-align: center;
}

.rowbook {
  height:180px;
  margin:10px;
}

.smallbook {
  height:150px;
  margin-top:35px;
  margin-bottom:8px;
  margin-left:50px;
  margin-right:50px;
}